*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

:root{
    font-size: 16px;
}

body{
    font-size: 1rem;
}

header{
    position: absolute;
    top:2rem;
    font-size: 3rem;
    color: rgb(11, 11, 97);
    font-weight: bold;
    font-family: cursive;
    left:50%;
    transform: translate(-50%);
}

.inner{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
}

.clock-body{
    height: 300px;
    width:300px;
    border: 2px solid black;
    border-radius: 50%;
    display:flex;
    justify-content: center;
}

.second-hand{
    position: absolute;
    align-self: center;
    height:160px;
    width: 8px;
    background-image:linear-gradient(to bottom , transparent 50% , red 50%);
    transform:rotate(-90deg);
    animation-name:rotate;
    animation-duration: 0.060s;
    animation-iteration-count: infinite;
}

.hour-hand{
    position: absolute;
    align-self: center;
    height:85px;
    width: 8px;
    background-image:linear-gradient(to bottom , transparent 50% , blue 50%);
    transform:rotate(-90deg) /*translate(0 , -4px)*/;
    animation-name:rotate3;
    animation-duration: 84.6s;
    animation-iteration-count: infinite;
}

.minute-hand{
    position: absolute;
    align-self: center;
    height:200px;
    width: 8px;
    background-image:linear-gradient(to bottom , transparent 50% , black 50%);
    transform:rotate(180deg) /*translate(8px , -4px)*/;
    animation-name:rotate2;
    animation-duration: 3.6s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

.centre-fig{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    height:10px;
    width:10px;
    background-color: gray;
    z-index:2;
    border-radius: 50%;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(540deg);
    }
}

@keyframes rotate3 {
    from{
        transform: rotate(-90deg);
    }
    to{
        transform: rotate(270deg);
    }
}
